* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Luciada Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0px auto;

}

a:link,
a:active,
a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/* LOGO*/
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;

}

/* Fim logo */

/* Barra de navegçao */
header {
    padding: 15px 0;
    height: 55px;
    display: flex;
    justify-content: space-around;


}

nav ul {
    list-style: none;
    margin-bottom: 20px;
    display: flex;





}

nav ul li a:link {
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/* Fim da barra de navegação */

/* Principal */

#principal {
    display: flex;


}

#conteudo {
    width: 710px;
    margin: 10px;

}

#postagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

article {
    width: 310px;
    height: 190px;
    margin: 15px;
}

article ul li {
    list-style: none;
}






#história {
    width: 310px;
    height: 190px;
    padding: 10px;



}

aside {
    width: 350px;
    background: white;
    margin: 10px;
    padding-bottom: 30px;

}

footer {
    background-color: #262317;
    width: auto;
    margin: 0px auto;
    padding: 20px 0 30px 0;
    height: 200px;
    text-align: center;

}

footer p a {
    padding: 2px 10px;
    font-size: 20px;


}

footer p {
    margin: 20px;
    color: white;
    font-size: 20px;

}

/* Fim principal */

/* Inicio estilização do aside e sections*/

section#visita {
    background: #cdc7b5;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;

}

article h3 {
    color: #227115;
    font-size: 1.0em;
    margin: 10px;
    text-transform: uppercase;
}

#visita h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

#galeria {
    background-color: #ede5df;

}

#galeria h1 {
    padding: 20px 27px 0px 27px;
}

.conteudo_galeria {
    width: 350px;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.conteudo_galeria a {
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    padding: 15px 15px 16px 15px;
}


/* Formularios */

input {
    height: 20px;
    width: 80px;
    background: white;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
    width: 30px;
}

input.botao {
    background: #ada484;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;

}

fieldset {
    border: none;
}

legend {
    display: none;
}